@import url("/home/shadowcvrsxd/.cache/wal/colors-waybar.css");

* {
  font-family: Electroharmonix, JetBrainsMono Nerd Font, monospace;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-size: 13px;
}

window#waybar {
  background-color: @background;
  transition: background-color 0.5s ease;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 9999px;
  background-color: #20222c;;
  color: @foreground;
  opacity: 0.6;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

#workspaces button.active {
  background-color: @color4;
  color: @background;
  opacity: 1;
}

#workspaces button:hover {
  background-color: @color6;
  color: @background;
  opacity: 0.9;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @foreground;
  animation: blink 1s infinite;
}

#memory, #custom-power, #battery, #backlight, #wireplumber, #network,
#clock, #tray, #cpu, #bluetooth, #custom-layout, #custom-notification, #custom-ai {
  border-radius: 9999px;
  margin: 6px 2px;
  padding: 6px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: JetBrainsMono Nerd Font, monospace;
}

#memory {
  background-color: @color3;
  color: @background;
}

#cpu {
  background-color: @color5;
  color: @background;
}

#battery {
  background-color: @color5;
  color: @background;
}

#battery.warning, #battery.critical, #battery.urgent {
  background-color: @color1;
  color: @color7;
}

#battery.charging {
  background-color: @color6;
  color: @background;
}

#backlight {
  background-color: @color2;
  color: @background;
}

#wireplumber {
  background-color: @color5;
  color: @background;
  border-radius: 10px;
}

#network {
  background-color: @color5;
  color: @background;
  border-radius: 10px;
}

#clock {
  background-color: @color5;
  color: @background;
}

#custom-power {
  background-color: @color3;
  color: @background;
}

#bluetooth {
  background-color: @color5;
  color: @background;
  border-radius: 10px;
  font-family: Electroharmonix;
}

#custom-layout {
  background-color: @color5;
  color: @background;
  font-family: Electroharmonix;
  border-radius: 10px;
}

#mpris {
  background-color: @color5;
  color: @background;
  font-family: monospace;
  border-radius: 9999px;
  margin: 6px 3px;
  padding: 6px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#tray {
  background-color: @color5;
  color: @background;
  border-radius: 10px;
}

#custom-logo {
  padding: 6px 12px;
  margin-left: 5px;
  border-radius: 9999px;
  font-size: 15px;
  color: @color5;
  transition: color 0.3s ease;
}

tooltip {
  border-radius: 12px;
  padding: 15px;
  background-color: @color0;
  color: @foreground;
  transition: opacity 0.3s ease;
}

tooltip.show {
  opacity: 1;
}

tooltip label {
  padding: 5px;
  background-color: @color0;
}

#custom-notification {
  background-color: @color5;
  color: @background;
  border-radius: 10px;
  font-family: Electroharmonix;
}

#custom-ai {
  background-color: @color5;
  color: @background;
  border-radius: 999px;
  font-family: Electroharmonix;
  margin: 6px 2px;
  padding: 3px 6px;
}
